@import 'variables.css';

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    overflow: hidden;

    & .groupCreationContainer {
        width: 40rem;
        height: 18rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: $largeBorderRadius;
        padding: 1rem;

        & .progressMap {
            width: max-content;
            height: 90%;
            padding: 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 0.5rem;
            border-right: 2px solid rgba($red_brown_dark, 0.6);

            & button {
                background-color: transparent;
                border: none;
                text-align: left;
                color: rgb($grey_blue_vibrant);
                font-weight: 600;

                &:disabled {
                    color: rgba($red_brown_dark, 0.6);
                    pointer-events: none;
                }
            }
        }

        & .section {
            width: 100%;
            height: 100%;
            padding: 0 1rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content max-content 1fr max-content;
            justify-items: center;

            & .exitBtn {
                justify-self: end;
                background-color: transparent;
                border: none;
                font-weight: 600;
            }

            & .sectionTitle {
                margin-bottom: 1rem;
                font-weight: 400;
                color: rgb($grey_blue_vibrant);
            }

            & .errorMessage {
                color: rgb($deep_red);
                font-weight: 600;
            }

            & .sectionContent {
                align-self: center;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                & .instructions {
                    text-align: center;
                    font-weight: 600;
                    font-size: 0.9rem;
                }

                & .tagContainer {
                    width: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;

                    & .tags {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 0.5rem;
                        margin-bottom: 0.3rem;
                        
                        & .tag {
                            position: relative;
                            padding: 0.2rem 0.5rem;
                            cursor: pointer;
                            border: 1px solid rgba($red_brown_dark, 1);
                            border-radius: $smallBorderRadius;
                            overflow: hidden;

                            &::after {
                                position: absolute;
                                content: "X";
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: transparent;
                                color: rgb($deep_red);
                                opacity: 0;
                                font-size: medium;
                                font-weight: 600;
                            }

                            &:hover::after {
                                opacity: 1;
                            }

                            &:hover {
                                color: transparent;
                            }
                        }
                    }

                    & .tagInputContainer {
                        width: max-content;
                        position: relative;
                        display: flex;
                        flex-flow: row nowrap;
                        border: 2px solid black;
                        border-radius: $largeBorderRadius;
                        overflow: hidden;
                        box-shadow: $shadow;

                        & .addTagBtn {
                            position: absolute;
                            right: 0;
                            top: -4px;
                            width: max-content;
                            padding: 0rem 0.8rem;
                            height: calc(100% + 8px);
                            background-color: rgb($moss_green_vibrant);
                            border: 2px solid black;
                            border-right: none;
                            border-top-left-radius: 50%;
                            border-bottom-left-radius: 50%;
                            font-size: larger;
                            font-weight: 400;
                            transition: opacity linear .1s;

                            &:disabled {
                                opacity: 0.6;
                                cursor: not-allowed;
                            }

                            &:hover {
                                opacity: 0.6;
                            }
                        }

                        & .tagInput {
                            border: none;
                            border-radius: 0;
                            padding-right: 2.5rem;
                        }
                    }
                }

                & input {
                    width: 15rem;
                    height: 2.2rem;
                    padding: 0.3rem;
                    background-color:transparent;
                    border: 1px solid rgba($red_brown_dark, 1);
                    border-radius: $smallBorderRadius;
                    outline: none;
                    box-shadow: $shadow;

                    &:focus {
                        outline: none;
                        border-width: 2px;
                    }
                }

                & .summary {
                    background-color: transparent;
                    border: 1px solid rgba($red_brown_dark, 1);
                    padding: 0.5rem;
                    border-radius: $smallBorderRadius;
                    resize: none;
                    width: 80%;
                    height: 6rem;
                    box-shadow: $shadow;

                    &:focus {
                        outline: none;
                        border-width: 2px;
                    }
                }

                & .isPrivateContainer {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    & input {
                        width: 1rem;
                        aspect-ratio: 1/1;
                        box-shadow: none;
                    }

                    & label {
                        font-weight: 600;
                    }
                }
            }

            & .nextBtn {
                @mixin brownButton;
                justify-self: end;
            }
        }
    }
}