@import 'variables.css';

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: calc(100vh - $nav_height - $footer_height);
    align-items: center;
    background-color: inherit;
    
    & .userGroups {
        position: relative;
        width: 9rem;
        height: 100%;
        padding: 1rem 1rem 1rem 1rem;
        display: grid;
        grid-auto-rows: max-content;
        gap: 1rem;
        overflow-y: auto;
        background-color: $light_grey;
        box-shadow: $sectionShadow;
        z-index: 100;
        @mixin miniScrollbar;

        & .singleGroup {
            width: 100%;
            aspect-ratio: 1/1;
            background-color: inherit;
            box-shadow: $sectionShadow;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            cursor: pointer;

            & h4 {
                width: 100%;
                word-wrap: break-word;
                font-weight: 600;
                color: $red_brown_dark;
            }

            &.selected {
                box-shadow: inset $sectionShadow;
            }

            & .groupName {
                text-align: center;
            }
        }

        & a {
            width: max-content;
            height: max-content;
            background-color: $red_brown;
            border: none;
            border-radius: 0.5rem;
            color: $light_grey;
            padding: 0.5rem;
            justify-self: center;
            margin-top: 1rem;

            @mixin fadeOnHover;
        }
    }

    & .selectedGroup {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;

        & .selectedGroupName {
            position: relative;
            width: 100%;
            text-align: center;
            box-shadow: $sectionShadow;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            color: $red_brown_dark;
            z-index: 10;
        }

        & .chatArea {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr max-content;
            overflow: hidden;
            
            & .chatBox {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column-reverse nowrap;
                align-items: flex-end;
                overflow-y: auto;
                padding: 0 2rem;
                @mixin customScrollbar;
                
                & .messages {
                    padding: 5rem 1rem 1rem 1rem;
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-flow: column-reverse nowrap;
                    gap: 1rem;
                    justify-content: flex-end;
                    align-items: flex-start;

                    & .msg {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 0.2rem;
                        
                        & .msgAuthor {
                            font-weight: bold;
                            color: $red_brown;
                        }
                        
                        & .msgContent {
                            position: relative;
                            border-radius: 10px;
                            border-width: 1px;
                            border-style: solid;
                            padding: 0.5rem;
                            width: 100%;
                            max-width: max-content;
                            font-weight: lighter;
                            white-space: pre-wrap;
                            color: $red_brown;

                            & span {
                                cursor: pointer;
                                color: blue;

                                @mixin fadeOnHover
                            }

                            & .msgLikes {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 1rem;
                                height: max-content;
                                transform: translate(50%, -50%);
                                display: flex;
                                flex-flow: row nowrap;
                                gap: 0.2rem;
                                
                                & .msgLikeIcon {
                                    width: 100%;
                                    height: auto;
                                    background-color: $light_grey;
                                    cursor: pointer;
                                    overflow: visible;

                                    &.isAuthor {
                                        cursor: default;
                                    }
                                }

                                & .msgLikeNumber {
                                    font-weight: 400;
                                    line-height: 1rem;
                                }
                            }
                            
                        }
    
                        & .msgDate {
                            font-weight: lighter;
                            color: $red_brown;
                        }

                        & .msgLikeNames {
                            width: max-content;
                            height: max-content;
                            display: none;
                            justify-content: flex-start;
                            gap: 0.5rem;

                            & .likeName {
                                position: relative;
                                color: rgba(0, 0, 0, 0.8);
                                font-weight: 600;
                                border-radius: 0.3rem;
                                padding: 0.15rem 0.3rem;
                                box-shadow: 0 0 0.15rem 0 rgba(0, 0, 0, 0.8);

                                & .likeImg {
                                    position: absolute;
                                    width: 0.8rem;
                                    height: auto;
                                    z-index: 1;
                                    top: 0;
                                    right: 0;
                                    transform: translate(50%, -50%);
                                }
                            }

                            &.show {
                                display: flex;
                            }
                        }
    
                        &.userMsg {
                            & .msgContent {
                                border-color: $moss_green_vibrant;
                            }

                            & .msgAuthor {
                                color: $moss_green_vibrant;
                            }
                        }
        
                        &.msgFromOther {
                            & .msgContent {
                                border-color: $grey_blue;
                            }

                            & .msgAuthor {
                                color: $grey_blue;
                            }
                        }

                        &.earliestMsg {
                            color: inherit
                        }
                    }

                    & button {
                        background-color: $red_brown;
                        border: none;
                        border-radius: 0.5rem;
                        color: $light_grey;
                        width: max-content;
                        height: 1.5rem;
                        padding: 0 0.5rem;

                        @mixin fadeOnHover;
                    }
                }
            }
            

            & .chatInputArea {
                position: relative;
                height: max-content;
                box-shadow: $sectionShadow;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 0;
                gap: 0.5rem;

                & .addPsgBtn {
                    width: min-content;
                    height: max-content;
                    background-color: transparent;
                    border: none;
                    border-radius: 0.5rem;
                    color: $red_brown;
                    padding: 0.5rem;
                    @mixin fadeOnHover;
                }

                & .input {
                    width: 20rem;
                    line-height: 1.3rem;
                    height: calc(3 * 1.3rem + 1rem);
                    overflow-y: auto;
                    padding: 0.5rem;
                    background-color: inherit;
                    border-radius: 0.5rem;
                    outline: none;
                    outline: 1px solid $red_brown;
                    color: black;
                    @mixin hideScrollbar;

                    &:focus {
                        outline-width: 2px;
                    }
                }

                & .sendMsgBtn {
                    width: max-content;
                    height: 2rem;
                    background-color: $red_brown;
                    border: none;
                    border-radius: 0.5rem;
                    color: $light_grey;
                    padding: 0.5rem;

                    @mixin fadeOnHover;
                }
            }
        }
        
        & .groupDetails {
            position: absolute;
            top: 0;
            right: 0;
            width: 15rem;
            height: 100%;
            background-color: $light_grey;
            box-shadow: none;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem;
            color: $red_brown;
            gap: 0.5rem;
            z-index: 100;
            transform: translate(100%);
            transition: transform ease-in 0.2s, box-shadow 0s 0.2s;
            
            &.show {
                transition: transform ease-out 0.2s, box-shadow 0s 0s;
                transform: translate(0);
                box-shadow: $sectionShadow;
            }
            
            & .name {
                font-weight: 600;
                text-align: center;
                width: 100%;
            }

            & .summary {
                font-weight: 400;
            }

            & .expandGroupDetailsBtn {
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5rem;
                aspect-ratio: 1/1;
                align-self: flex-start;
                background-color: transparent;
                border: none;
                z-index: 100;
                overflow: hidden;
                transform-origin: center;
                transition: transform ease-in 0.2s;
                transform: rotate(0) translate(-2.5rem);
                margin-top: 0.8rem;
                
                &.show {
                    transition: transform ease-out 0.2s;
                    transform: rotate(180deg);
                }
                
                & .arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    aspect-ratio: 1/1;
                    background-color: $light_grey;
                    box-shadow: inset 0 0 0.3rem 0 rgba(0, 0, 0, 1);
                    border: 1px solid $light_grey;
                    transform-origin: center;
                    transform: rotate(45deg) translate(50%, -50%);
                }
            
            }
        }
    }
}