@import 'variables.css';

.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: calc(100vh - $nav_height - $footer_height);
	align-items: center;
	background-color: rgb($light_grey);

	& .userGroups,
	& .userDmNames {
		position: relative;
		width: 12rem;
		height: 100%;
		padding: 1rem 1rem 5rem 1rem;
		display: grid;
		grid-auto-rows: max-content;
		gap: 1rem;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: inherit;
		box-shadow: $sectionShadow;
		z-index: 100;
		@mixin miniScrollbar;

		& .title {
			width: 100%;
			height: max-content;
			text-align: center;
			color: rgb($moss_green_vibrant);
			font-weight: 600;
			box-shadow: inset 0 0 0.3rem 0 black;
			border-radius: $smallBorderRadius;
			padding: 0.3rem 0.5rem;
			font-family: HeadingFont;
		}

		& .singleGroup,
		& .singleDmName {
			position: relative;
			width: 100%;
			height: 4rem;
			border-radius: 2rem;
			background-color: inherit;
			box-shadow: $sectionShadow;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			cursor: pointer;

			& h4 {
				width: 100%;
				word-wrap: break-word;
				font-weight: 600;
				font-size: large;
				color: rgba($red_brown_dark, 1);
			}

			& .newDmsCount {
				position: absolute;
				top: 0;
				right: 0;
				width: 1.2rem;
				height: 1.2rem;
				background-color: rgb($deep_red);
				color: rgb($light_grey);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 800;
				box-shadow: 0 0 0.15rem 0 black;
			}

			&.selected {
				box-shadow: inset $sectionShadow;
			}

			& .groupName {
				text-align: center;
			}
		}

		& a {
			width: max-content;
			height: max-content;
			background-color: rgb($red_brown);
			border: none;
			border-radius: $smallBorderRadius;
			color: rgb($light_grey);
			padding: 0.5rem;
			justify-self: center;
			margin-top: 1rem;
		}
	}

	& .selectedGroup {
		position: relative;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4rem 1fr;
		background-color: inherit;

		& .selectedGroupName {
			position: relative;
			width: 100%;
			text-align: center;
			box-shadow: $sectionShadow;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			font-size: xx-large;
			z-index: 10;
			background-color: inherit;
		}

		& .groupDetails {
			position: absolute;
			top: 0;
			right: 0;
			width: 15rem;
			height: 100%;
			background-color: inherit;
			box-shadow: none;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: max-content max-content max-content;
			justify-items: center;
			gap: 1rem;
			padding: 1rem;
			padding-top: 0.5rem;
			z-index: 100;
			transform: translate(100%);
			transition: transform linear 0.2s, box-shadow 0s 0.2s;

			&.show {
				transform: translate(0);
				box-shadow: $sectionShadow;
			}

			& .topRight {
				width: max-content;
				height: max-content;
				justify-self: end;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;

				& .muteGroup {
					background-color: transparent;
					border: none;
					padding: 0.3rem;
					opacity: 1;

					& svg {
						transition: opacity linear 0.15s;
						pointer-events: none;
					}

					&:hover {
						& svg {
							opacity: 0.6;
						}
					}

					&.muted {
						& svg {
							& rect {
								display: block;
							}

							& path:nth-child(2),
							& path:nth-child(3) {
								display: none;
							}
						}
					}

					& svg {
						width: 1rem;
						height: auto;

						& path:nth-child(2),
						& path:nth-child(3) {
							display: block;
						}

						& rect {
							width: 3rem;
							stroke: rgb($light_grey);
							stroke-width: 1.5rem;
							display: none;
						}
					}
				}

				& .groupOptionsContainer {
					position: relative;
					height: max-content;
					width: max-content;
					display: flex;
					flex-flow: column nowrap;
					align-items: flex-end;
					gap: 0.3rem;
					transition: opacity 0.15s linear;

					& svg {
						height: 0.8rem;
						width: auto;
						cursor: pointer;
						padding: 0rem 0.8rem;
						@mixin fadeOnHover;

						& * {
							pointer-events: none;
						}
					}

					& .groupOptions {
						position: absolute;
						top: 1rem;
						right: 0;
						width: max-content;
						height: max-content;
						display: none;
						flex-flow: column nowrap;
						background-color: whitesmoke;
						border-radius: 0.5rem;
						margin-right: -1rem;
						padding: 0.5rem;
						z-index: 10;
						box-shadow: $shadow;

						&.show {
							display: flex;
						}

						& button {
							width: 100%;
							padding: 0.5rem 0.5rem;
							border: none;
							border-bottom: 1px solid silver;
							background-color: transparent;
							font-weight: 500;

							&.removeGroup {
								color: rgb($deep_red);
							}

							&:last-child {
								border: none;
							}
						}
					}
				}
			}

			& .sectionOne {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				gap: 0.2rem;
				margin-bottom: 1rem;
				width: 100%;

				& .name {
					font-weight: 400;
					font-size: xx-large;
					text-align: center;
					width: 100%;
				}

				& .description {
					font-size: normal;
					font-weight: 600;
					word-break: break-word;
				}
			}

			& .sectionTwo {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				gap: 0.2rem;

				& h3 {
					font-weight: 600;
					text-align: center;
					width: 100%;
				}

				& .members {
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					gap: 0.5rem;
					width: 100%;

					& .member {
						font-weight: 600;
						border: 1px solid rgba($red_brown_dark, 0.8);
						padding: 0.2rem 0.5rem;
						border-radius: $smallBorderRadius;

						&.inGroup {
							color: rgb($moss_green_vibrant);
						}
					}
				}
			}

			& .bottomSection {
				display: flex;
				flex-flow: row;
				align-self: end;
				gap: 1rem;

				&.hide {
					display: none;
				}

				& button {
					background-color: transparent;
					border: none;
					font-weight: 600;
					color: rgb($grey_blue);

					&.showPasswordBtn {
						color: rgb($grey_blue);
						font-weight: 600;
						font-size: small;
					}
				}

				& .passwordContainer {
					position: relative;
					display: flex;
					flex-flow: row nowrap;
					gap: 0.5rem;
					display: none;

					&:before {
						content: '';
						position: absolute;
						bottom: calc(100% + 0.5rem);
						right: 0;
						color: rgb($moss_green_vibrant);
						opacity: 1;
						font-size: smaller;
						font-weight: 600;
						transition: opacity 0.5s linear 4s;
					}

					&.copied {
						&:before {
							content: 'Copied!';
							opacity: 0;
						}
					}

					& .password {
						font-weight: 600;
					}

					& img {
						cursor: pointer;
						@mixin fadeOnHover;
					}
				}
			}

			& .expandGroupDetailsBtn {
				position: absolute;
				top: 0;
				left: 0;
				height: max-content;
				transform: rotate(0) translate(-100%);
				background-color: transparent;
				border: none;
				margin-top: 0.7rem;
				cursor: default;

				&:hover {
					opacity: 1;
				}

				& svg {
					margin-right: -0.2rem;
					height: 42px;
					width: auto;
					transform-origin: 0 0;
					transition: transform 0.2s linear, opacity 0.15s linear;
					overflow: visible;
					cursor: pointer;

					filter: url(#inset-shadow);

					&:hover text {
						fill-opacity: 0.6;
					}

					& text {
						transition: fill-opacity 0.15s linear;
						fill: rgb($red_brown);
						font-size: 5rem;
						font-weight: 600;
					}

					& path {
						transform-origin: 0 50%;
						fill: rgb($light_grey);
						transition: transform 0.2s linear;

						&:nth-child(2) {
							transform: scale(1.1);
						}
					}
				}

				&.show {
					& svg {
						transform: translateX(150%) scale(0.4) scaleX(-1);
						filter: none;

						&:hover {
							opacity: 0.7;
						}

						& path {
							fill: rgb($red_brown);
							&:nth-child(1) {
								transform: scaleY(0.5) translate(-30px);
							}
						}

						& text {
							fill: transparent;
						}
					}
				}
			}
		}
	}

	&.darkMode {
		background-color: rgb($grey_blue_dark);

		& .userGroups,
		& .userDmNames {
			/* border-right: 1px solid rgba($light_grey, 0.3); */

			& .title {
				border: 1px solid rgba($light_grey, 0.2);
			}
			& .singleGroup,
			& .singleDmName {
				border: 1px solid rgba($light_grey, 0.2);

				& .groupName {
					color: rgb($light_grey);
				}
			}
		}

		& .selectedGroupName {
			color: rgb($light_grey);
			/* border-bottom: 1px solid rgba($light_grey, 0.3); */
		}

		& .groupDetails {
			/* border-left: 1px solid rgba($light_grey, 0.3); */
			& h2,
			& h3,
			& h5 {
				color: rgb($light_grey);
			}

			& h3 {
				font-weight: 400;
			}

			& .topRight {
				& svg path {
					fill: rgb($light_grey);
				}
			}

			& .sectionTwo {
				& .members {
					& .member {
						border-color: rgba($light_grey, 0.3);
					}
				}
			}

			& .expandGroupDetailsBtn {
				& svg {
					& path {
						fill: rgb($grey_blue);
					}

					& text {
						fill: rgba($light_grey, 0.8);
					}
				}

				&.show {
					& svg {
						& path {
							fill: rgb($grey_blue);
						}
					}
				}
			}
		}
	}
}
