@import 'variables.css';

.container {
    width: 100%;
    height: 100%;

    & .chunk1 {
        background-color: antiquewhite;
        width: 100%;
        height: 30rem;
    }

    & .chunk2 {
        background-color: brown;
        width: 100%;
        height: 30rem;
        
    }
    
    & .chunk3 {
        background-color: orangered;
        width: 100%;
        height: 30rem;
        
    }
    
    & .chunk4 {
        background-color: teal;
        width: 100%;
        height: 30rem;
        
    }
}