@import 'variables.css';

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    @mixin customScrollbar;

    & .section {
        width: 100%;
        display: flex;
        justify-content: center;

        &.section1 {
            /* background-color: rgb($light_grey); */
            background-image: url('/mtns.jpg');
            background-position: center;
            background-size: cover;
            
            & .content {
                width: 100%;
                max-width: 80rem;
                height: 30rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                padding: 2rem;
    
                & .text {
                    width: 50%;
                    text-align: left;
                    padding: 1rem;
                    
                    & .slogan {
                        font-family: Title;
                        font-size: 2.5rem;
                        font-weight: 900;
                        white-space: pre-line;
                        color: rgb($light_grey);
                    }
            
                    & .shortDescription {
                        
                        font-size: x-large;
                        font-weight: 600;
                        color: rgb($light_grey);
                    }
                }
        
                & .visual {
                    text-align: center;
                    width: 50%;
                    padding: 1rem;
                }
            }
            
        }
    
        &.section2 {
            background-color: rgb($grey_blue);
            width: 100%;
            height: 30rem;
            
        }
        
        &.section3 {
            background-color: rgb($light_grey);
            width: 100%;
            height: 30rem;
            
        }
        
        &.section4 {
            background-color: rgb($grey_blue);
            width: 100%;
            height: 30rem;
            
        }
    }
}