@import 'variables.css';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb($light_grey);

    & form {
        width: max-content;
        height: max-content;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        gap: 1rem;
        border-radius: $largeBorderRadius;
        box-shadow: inset 0 0 0.7rem 0rem rgba($red_brown_dark, 1);

        
        & .loading {
            width: max-content;
            height: max-content;
            transform: scale(0.60);
            margin: -1.6rem 0;
        }

        & .title {
            font-weight: 400;
        }

        & .errorMessage {
            color: rgb($deep_red);
            font-weight: 600;
        }

        & input {
            width: 100%;
            height: 2rem;
            padding: 0.3rem;
            background-color: transparent;
            border: 0.1rem solid rgba($red_brown_dark, 1);
            border-radius: 0.2rem;
            outline: none;

            &:focus {
                border-color: green;
            }
            
            &:invalid:focus {
                border-color: rgb($deep_red);
            }
        }
        
        & button {
            @mixin brownButton;

            &.googleSignInBtn {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                background-color: white;
                border: 1px solid black;
                color: black;
                font-weight: 500;

                & img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        & .orText {
            font-weight: 400;
            margin: -0.5rem 0;
        }

        & .logRegSwitch {
            & a {
                color: rgb($grey_blue_vibrant);
            }
        }

        & select {
            background-color: transparent;
            border-radius: 0.2rem;
            border: 0.1rem solid rgb($red_brown);
            width: 100%;
        }

        & .genderAndVersion {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
        }
    }
}