@import 'variables.css';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light_grey;

    & form {
        width: max-content;
        height: max-content;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        gap: 1rem;
        border-radius: 1rem;
        box-shadow: inset 0 0 0.7rem 0rem $red_brown_dark;

        & h1 {
            color: $red_brown;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        & input {
            width: 100%;
            height: 2rem;
            padding: 0.3rem;
            background-color: transparent;
            border: 0.1rem solid $red_brown_dark;
            border-radius: 0.2rem;
            color: $red_brown_dark;
            outline: none;

            &::placeholder {
                color: $red_brown_dark;
            }

            &:focus {
                border: 0.15rem solid $red_brown_dark;
            }
        }
        
        & button {
            width: max-content;
            height: 2rem;
            background-color: $red_brown;
            border: none;
            border-radius: 0.5rem;
            color: $light_grey;
            padding: 0.5rem;

            @mixin fadeOnHover;
        }

        & a {
            color: $red_brown_dark;
        }

        & select {
            background-color: transparent;
            border-radius: 0.2rem;
            border: 0.1rem solid $red_brown;
            color: $red_brown_dark;
            width: 100%;

            option {
                color: $red_brown_dark;
            }
        }

        & .genderAndVersion {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
        }
    }
}