@import 'variables.css';

.container {
    width: 100vw;
    height: $nav_height;
    background-color: rgb($red_brown);
    box-shadow: $sectionShadow;
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    z-index: 1000;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/texture.png');
        background-size: 15rem auto;
        background-repeat: repeat;
        opacity: 0.7;
        z-index: -1;
        pointer-events: none;
    }
    
    & .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-left: 3rem;

        & .logo {
            height: 80%;
            width: auto;
            cursor: pointer;

            @mixin fadeOnHover;

            & * {
                fill: rgb($light_grey);
            }
        }
    }

    & .right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;

        & a, & .notificationContainer, & .settingsContainer {
            height: 100%;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
        }
        
        & a {
            height: 100%;
            cursor: pointer;
            color: rgb($light_grey);
            @mixin fadeOnHover;

            & .findGroupText {
                background-color: rgba($light_grey, 0.8);
                color: rgb($red_brown);
                padding: 0.3rem 0.5rem;
                border-radius: $largeBorderRadius;
                font-weight: 600;
            }
            
            & .dmIcon {
                width: 20px;
                height: 20px;
                position: relative;
                margin-top: 0.1rem;
                
                & svg {
                    width: 20px;
                    height: 20px;
                    fill: rgba($light_grey, 0.7);
                }
                
                &.hasNewDms:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    width: 0.5rem;
                    aspect-ratio: 1/1;
                    background-color: rgb($deep_red);
                    border-radius: 50%;
                    transform: translate(50%, -2px);
                }
            }

            & .homeIcon {
                width: 20px;
                height: auto;
                fill: rgba($light_grey, 0.8);
            }
        }

        & .notificationContainer {
            position: relative;

            & .bellIcon {
                fill: rgb($light_grey);
                width: 20px;
                height: auto;
                cursor: pointer;

                @mixin fadeOnHover;

                & * {
                    pointer-events: none;
                }
            }

            & .unreadCount {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(calc(-50% + 0.6rem), calc(-50% - 0.7rem));
                color: rgb($light_grey);
            }

            & .notificationDropdown {
                position: fixed;
                top: calc($nav_height);
                right: 0;
                width: 15rem;
                height: max-content;
                box-shadow: $sectionShadow;
                border-bottom-left-radius: 0.5rem;
                background-color: rgb($light_grey);
                display: none;
                overflow: auto;

                @mixin miniScrollbar;

                &.active {
                    display: block;
                }

                & .notification {
                    width: 100%;
                    height: max-content;
                    text-align: center;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 0.7rem;
                    color: rgb($red_brown);
                    cursor: pointer;

                    &.read {
                        opacity: 0.6;
                        cursor: default;
                    }

                    &:not(&:has(.groupInviteNotif)) {
                        & * {
                            pointer-events: none;
                        }
                        @mixin fadeOnHover;
                    }

                    &:has(.groupInviteNotif) {
                        cursor: default;
                    }


                    & .groupInviteNotif {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                        "message message"
                        "reject join";
                        gap: 1rem;

                        & .text {
                            grid-area: message;
                        }

                        & button {
                            padding: 0.3rem 0.5rem;
                            border: none;
                            border-radius: $smallBorderRadius;
                            background-color: rgb($red_brown);
                            color: rgb($light_grey);
                            @mixin fadeOnHover;
                            
                            &.rejectBtn {
                                grid-area: reject;
                            }
    
                            &.joinBtn {
                                
                                grid-area: join;
                            }
                        }
                    }
                }
            }
        }

        & .settingsContainer {
            position: relative;

            & .settingsIcon {
                opacity: 0.8;
                width: 20px;
                height: auto;
                cursor: pointer;
                
                @mixin fadeOnHover;
                
                & path {
                    fill: rgb($light_grey);
                }

                & * {
                    pointer-events: none;
                }
            }

            & .settingsDropdown {
                position: fixed;
                top: calc($nav_height);
                right: 0;
                width: 15rem;
                height: max-content;
                box-shadow: $sectionShadow;
                border-bottom-left-radius: 0.5rem;
                background-color: rgb($light_grey);
                display: none;

                &.active {
                    display: block;
                }

                & .setting {
                    width: 100%;
                    height: max-content;
                    text-align: center;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 0.5rem;
                    color: rgb($red_brown);
                    cursor: pointer;
                    font-weight: 600;

                    @mixin fadeOnHover;
                }
            }
        }

    }
}